{
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".ts", ".tsx", ".js", ".jsx", ".es", ".es6", ".mjs", ".glsl"]
    }],
    "@babel/plugin-transform-typescript",
    "@babel/proposal-object-rest-spread",
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}
